<div class="slds-page-header slds-page-header_record-home">
    <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
            <div class="slds-media">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-opportunity">
                        <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#settings"></use>
                        </svg>
                    </span>
                </div>
                <div class="slds-media__body">
                    <div class="slds-page-header__name">
                        <div class="slds-page-header__name-title">
                            <h1>
                                <span>Alibaba POC</span>
                                <span class="slds-page-header__title slds-truncate" title="Acme - 1,200 Widgets">OCE Lite</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-page-header__col-actions">
            <div class="slds-page-header__controls">
                <div class="slds-page-header__control">
                    <button class="slds-button slds-button_neutral slds-button_stateful slds-not-selected"
                        aria-live="assertive">
                        <span class="slds-text-not-selected">
                            <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left"
                                aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                            </svg>Filter</span>
                    </button>
                </div>
                <div class="slds-page-header__control">
                    <ul class="slds-button-group-list">
                        <li>
                            <button class="slds-button slds-button_neutral">New</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>