<div class="slds-grid slds-wrap">
    <nav class="slds-col slds-size_1-of-1">
        <app-header></app-header>
    </nav>

    <nav class="slds-col slds-size_1-of-1 slds-p-top_x-large slds-p-left_large slds-p-right_large">
        <app-card></app-card>
    </nav>
</div>